.mui-content .icon-form::before{
     font-size: 1.5rem;
     display: inline-block;
     margin-right: 0.8rem;
     color: #F04DA3;
     line-height: 1.5rem;
 }
.mui-content .icon-youhuiquan::before{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 0.8rem;
    color: #F04DA3;
    line-height: 1.5rem;
}
.mui-content .icon-wodepintuan::before{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 0.8rem;
    color: #B774F5;
    line-height: 1.5rem;
}