.mui-scroll{
    margin-top: 4rem;
}


.mui-scroll ul{
    margin-bottom: 2rem;
}
.mui-table-view-cell::after{
    background-color: #ccc;
}
.mui-table-view::before{
    background-color:#ccc ;
}
.mui-table-view::after{
    background-color: #ccc;
}

.mui-table-view .mui-table-view-cell .log-out{
    color:#FD565B ;
}
.ver-con{
    width: 100%;
    margin: 20% auto;
}
.ver-con img{
    display: block;
    margin: 0 auto;
    width: 20%;
}
.ver-con p{
    text-align: center;
    margin-top: 0.85rem;
}