			.mui-bar-nav{
	    		background: #F14DA4;
	    		color: #fff;
	    	}
	    	.mui-bar-nav .mui-title,.mui-action-back{
	    		color: #fff;
	    	}
	    	header .right .shop{
	    		font-family: icon;
	    	}
	    	header .right{
	    		float: right;
	    		display: -webkit-flex;
				display: flex;
				-webkit-justify-content: flex-end;
				justify-content:flex-end;
				-webkit-align-items: center;
				align-items: center;
	    	}
	    	header .right .set{
	    		font-size: 1.3rem;
	    		margin: -.5rem 0.3rem 0 0;
	    	}
	    	
	    	body{
	    		background: #fff;
	    	}
	    	.type .type_con{
	    		display: -webkit-flex;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content:space-between;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				margin-top: 0.5rem;
	    	}
	    
	    	.type .type_con .type_con_module{
	    		width: 45%;
	   			margin: 0.5rem 0.5rem;
	   			
	    	}
	    	.type .type_con .type_con_module img{
	    		width: 100%;
	    		height: 14rem;
	    	}
	    	.word p{
	   			color: #F14DA4;
	   			font-size: 1rem;
	   			line-height: 1.6rem;
	   			font-weight: 700;
	   		}
	   		.word .tit{
	   			color: #010101;
	   			overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-weight: 100;
	   		}
			.mui-content{
				background: #fff;
			}
			.banner{
				width: 100%;
				position: relative;
				height:11rem;
			}
			.banner .img{
				width:100%;
				height: 11rem;
			}
			.banner .img img{
				width:100%;
				height: 100%;
			}
			.banner .shadow{
				position: absolute;
				top: 0;
				background: rgba(0,0,0,0.3);
				width: 100%;
				height: 100%;
				color: #fff;
				
			}
			.banner .shadow h1{
				font-size: 1.82rem;
				font-weight: 100;
				margin: 6rem 0 0 2rem;
			}
			.banner .shadow h1 span{
				color: #ffcd32;
				font-size: 2rem;
			}
			.banner .shadow h3{
				font-size: 0.82rem;
				font-weight: 100;
				margin: 0.5rem 0 0 2.4rem;
			}
