.mui-icon-extra{
    color: white;
    line-height: 2.6rem;
}
body{
	background: #fff;
}
.banner{
    width: 100%;
    position: relative;
    height:15rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner .left{
    width: 50%;
}
.banner .img{
    width:100%;
    height: 12rem;
}
.banner .img img{
    width:100%;
    height: 100%;
}
.banner .shadow{
    position: absolute;
    bottom: 0;
    background: rgba(234, 234, 234, 0.5);
    width: 50%;
    height:25%;
    color: #000;
    text-align: center;
}
.banner .shadow h1{
    font-size: 1rem;
    font-weight: 500;
    margin: 0.7rem 0 0 0;
}
.banner .shadow h1 span{
    color: #ffcd32;
    font-size: 2rem;
}
.banner .shadow h3{
    font-size: 0.82rem;
    font-weight: 100;
    margin: 0.5rem 0 0 0;
    color: #666;
}
.mui-content{
    background: #fff;
    width: 98%;
    margin: 0 auto;
    padding: 0 0.6rem;
}


.banner .banner-right{
    width: 46%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.banner .banner-right div{
    width: 40%;
}
.banner .banner-right div img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

}
.banner .banner-right div p{
    font-size: 0.8rem;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.banner .title{
    font-size: 1rem;
    color: #000;
    text-align: left;
    margin-top: 10px;
}
.shangyi{
    margin-top: 5%;
}
.shangyi ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shangyi ul li{
    width: 20%;
    margin: 0 2%;
}
.shangyi ul li img{
    width: 100%;
}
.shangyi ul li p{
    color: #2C2C2C;
    text-align: center;
    font-size: 0.7rem;

    margin-top: -0.5rem;
}
.qbsy{
    color: #000;

    margin-top: 1.5rem;
}

/*搜索选项*/

.searchTitle {

    border-bottom: 1px solid #EEEEEE;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.searchTitle a {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    color: #000;
    line-height: 3rem;
    font-size: 1rem;
}

.searchTitle a.cur {
    color: #F250A3;
    border-bottom: 2px solid #F250A3;
}
.searchTitle a:last-child{
    margin-left: 1rem;
}


.searchTitle a i {
    position: absolute;
    top: .1rem;
    font-family: icon;
    font-style: normal;
}


/*搜索内容*/

.boxCon {
    position: relative;
}

.boxCon ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: .5rem 0 2rem;
    padding: 0 1rem;
}

.boxCon ul li {
    width: 48%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.boxCon ul li img {
    width: 100%;
}

.boxCon ul li .p1 {
    width: 80%;
    margin: .4rem 0 0;
    color: #303030;
    font-size: 1rem;
    line-height: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.boxCon ul li .p2 {
    margin: 0;
    color: #F749A8;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.7rem;
}

.boxCon .zz {
    z-index: 100;
    position: absolute;
    top: -7.6rem;
    width: 100%;
    height: 113%;
    background: rgba(46, 37, 38, .8);
}

.boxCon .zz .select_options {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    padding-top: 2rem;
    background: #fff;
}

.boxCon .zz .select_options .one,
.boxCon .zz .select_options .two,
.boxCon .zz .select_options .three {
    width: 100%;
    padding: 0 1.4rem;
}

.select_options .one .one_con,
.select_options .two .two_con,
.select_options .three .three_con {
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
}

.select_options .one .one_con p {
    width: 44%;
    text-align: center;
    padding: 0 .8rem;
    margin-bottom: 1rem;
    color: #000;
    line-height: 2rem;
    letter-spacing: 3px;
    font-size: 1rem;
    border: 1px solid #DCDCDC;
    border-radius: .5rem;
}

.select_options .one .one_con p:last-child {
    width: 86%;
}

.boxCon .zz .select_options .two,
.boxCon .zz .select_options .three {
    margin-top: 1.4rem;
}

.select_options .two .two_con p,
.select_options .three .three_con p {
    color: #6B6B6B;
    font-size: 1rem;
    line-height: 1.5rem;
}

.select_options .two .two_con input {
    width: 40%;
    height: 1.5rem;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    color: #EDEDED;
    line-height: 1.6rem;
    font-size: 1rem;
}

.select_options .two .two_con input.minPrice {
    margin-left: 1.3rem;
}

.select_options .two .two_con span {
    margin: 0 .2rem;
    font-size: 1rem;
}

.select_options .three .three_con {
    border: none;
}

.select_options .three .three_con ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 1rem 0 0 0;
    padding: 0;
}

.select_options .three .three_con ul li {
    width: 30%;
    height: 1.7rem;
    margin-right: .5rem;
    text-align: center;
    font-size: 1rem;
    color: #080808;
    line-height: 1.7rem;
    border: 1px solid #DDDDDD;
    border-radius: .7rem;
}

.boxCon .zz .select_options .bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.7rem;
    border-top: 1px solid #EFEFEF;
    background: #fff;
}

.boxCon .zz .select_options .bottom button {
    width: 40%;
    height: 100%;
    padding: 0;
    text-align: center;
    line-height: 2.7rem;
    color: #000;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    font-weight: normal;
    border: none;
    background: #fff;
}

.boxCon .zz .select_options .bottom button.qd {
    color: #fff;
    background: #FF339A;
}